@font-face {
    font-family: 'EightBitRegular';
    src: url('../fonts/EightBit.eot');
    src: url('../fonts/EightBit.eot') format('embedded-opentype'),
         url('../fonts/EightBit.woff2') format('woff2'),
         url('../fonts/EightBit.woff') format('woff'),
         url('../fonts/EightBit.ttf') format('truetype'),
         url('../fonts/EightBit.svg#EightBitRegular') format('svg');
}

html {
	font-family: 'EightBitRegular';
}

body {
    font-size: 14px;

    font-smooth: never !important;
    -webkit-font-smoothing : none !important;
    image-rendering: optimizeSpeed !important;             // Older versions of FF
    image-rendering: -moz-crisp-edges !important;          // FF 6.0+
    image-rendering: -webkit-optimize-contrast !important; // Safari
    image-rendering: -o-crisp-edges !important;            // OS X & Windows Opera (12.02+)
    image-rendering: pixelated !important;                 // Awesome future-browsers
    -ms-interpolation-mode: nearest-neighbor !important;   // IE
}


.header	{
    font-size: 32px;
    font-height: 30px;
    color: #fff;
    background-color: #2222aa;
}

.title {

}

.wall {
    background-color: #aa0000;
}

.floor {
    background: #636363; /* Old browsers */
    background: -moz-linear-gradient(top,  #636363 0%, #cecece 66%, #dbdbdb 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#636363), color-stop(66%,#cecece), color-stop(100%,#dbdbdb)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #636363 0%,#cecece 66%,#dbdbdb 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #636363 0%,#cecece 66%,#dbdbdb 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #636363 0%,#cecece 66%,#dbdbdb 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #636363 0%,#cecece 66%,#dbdbdb 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#636363', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
}

.conveyor {
    background-image: url('../images/conveyor_belt.png');
    z-index: 1;
}

.brad {
    background-image: url('../images/brad-blevins-sweatsuit.png');
    z-index: 0;
}

.brads-tablet {
    background-image: url('../images/brads-arms-and-tablet.png');
    z-index: 3;
}

.start-screen, .gameover-screen{
    color: #fff;
    font-size: 21px;
    text-align: center;
    padding-top: 5%;
    vertical-align: middle;
    background-color: #33f;
    z-index: 4;
}

.gameover-screen {
    z-index: -4;
}


/* Smashables */
.smashables {
    z-index: 2;
}

.smashable-orange-lenovo {
    background-image: url('../images/orange-lenovo-tablet.png');
}

.smashable-silver-lenovo {
    background-image: url('../images/silver-lenovo-tablet.png');
}

.smashable-fruit-pc {
    background-color: #3333dd;
}

.smashable-old-pc {
    background-color: #000;
}

.smashable-matt-forte {
    background-color: #213532;
}

.smashable-andrew-luck {
    background-color: #a84762;
}

